#meme {
    margin-top: 5px;
}

.hidden {
    display: none;
}

body {
    background: #FFE5B4;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}
/* hide scrollbar but allow scrolling */
  
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.hidded {
    display: none;
}

form {
    margin-left: 5px;
}

#Title {
    font-size: 7vh;
    font-family: 'Anne Margaret', sans-serif;
    text-align: center;
    margin-top:15px;
}

#coffee {
    text-align: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px;
}

#Balls {
    flex-grow: 0.125;
    margin-top: 7px;
    text-align: center;
    
    

}

#Title {
    flex-grow: 1;
}

#icon {
    height: 10vh;
    width: auto;

}



.box1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


#title2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}

#vine {
    flex-grow: 0.125;
    

}

#VINE {
    height: 9vh;
    width: auto;
}

#bottom {
    justify-content: space-evenly;
    display:flex;
    align-items: center;
}

#BEANS {
    height: 20vh;
    width: auto;
}

#cookie {
    height: 25vh;
    width: auto;
}

#beans1 {
    margin-right: 50px;
}

#cookie1 {
    margin-left: 50px;
}

#bebop {
    height: 18vh;
    width: auto;
    margin-right: 50px;
}

#beebopbox {
    display: flex;
    flex-direction: column;
}

#beebop {
    font-family: 'Cheltenham LT', sans-serif;
    font-size: 24px;
    color: black;


}

#mom {
    display: flexbox;
    flex-direction:column;
    

}








